@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
body,
div,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(http://subtlepatterns.com/patterns/kindajean.png);
}

h1,
h2,
h4 {
    text-transform: uppercase;
}

h3 {
    font-size: 3em;
    font-weight: 300;
    color: #666;
    margin-bottom: 15px;
    text-indent: 25px;
}

h3:hover {
    color: #FF9900;
    font-weight: 300;
}

h4 {
    font-size: 2.5em;
    font-weight: 300;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
}

.row {
    padding-top: 10px;
}

#nameLine1 {
    padding-top: 30px;
    text-align: right;
    color: #666;
    font-weight: 200;
    font-size: 3.5em;
    font-family: 'Lato', sans-serif;
}

#nameLine2 {
    text-align: right;
    color: #666;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

#nameLine2:hover {
    color: #FF9900;
    font-weight: bold;
}

hr {
    border: none;
    height: 4px;
    color: #BCBBBB;
    /* support legacy IE */
    border-bottom: solid 4px #BCBBBB;
    margin-top: 5px;
}

#heroImg {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    text-align: center;
}

p a {
    font-size: 1.1em;
    color: #999;
    text-decoration: none;
}

.features {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#feature-3 {
    float: right;
}

@media all and (max-width: 1200px) {
    h4 {
        font-size: 1.5em;
    }
    p > a {
        font-size: 1.1em;
    }
    h3 {
        font-size: 3.0em;
    }
}

@media all and (max-width: 650px) {
    #nameLine1 {
        font-size: 1.6em;
    }
    #nameLine2 {
        font-size: 1.1em;
    }
}

@media all and (max-width: 375px) {
    #nameLine1 {
        padding-top: 15px;
    }
}